# ========================
# KEDRO
# ========================
conf/local/**
!conf/local/.gitkeep

conf/**/*credentials*

data/**
!data/**/
!.gitkeep
!data/01_raw/*

# ========================
# W&B
# ========================
wandb/

# ========================
# ENV
# ========================
.env
.venv
env/
venv/

# ========================
# PYTHON
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# BUILD
# ========================
build/
dist/
*.egg-info/

# ========================
# IDE
# ========================
.idea/
.vscode/

# ========================
# SYSTEM
# ========================
.DS_Store

# ========================
# TESTS / CACHE
# ========================
.pytest_cache/
.coverage